<mat-card class="col-sm-12 col-md-8 m-auto" [@divState]>
  <mat-spinner class="m-auto" *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading" class="mb-2">
    <mat-form-field class="w-100">
      <input matInput type="email" name="email" placeholder="E-mail" ngModel #email="ngModel" required email>
      <mat-error *ngIf="email.hasError('required')">E-mail is required.</mat-error>
      <mat-error *ngIf="email.hasError('email')">Please enter valid email</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <input matInput type="password" name="password" placeholder="Password" ngModel #password="ngModel" required>
      <mat-error *ngIf="password.hasError('required')">Password is required.</mat-error>
    </mat-form-field>
    <button class="mt-2" mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Sign In</button>
  </form>
  <span *ngIf="!isLoading">New User? <a routerLink="/signup" class="text-decoration-none">Sign Up</a></span>
</mat-card>
