<mat-card class="col-sm-12 col-md-8 m-auto" [@divState]>
  <mat-spinner class="m-auto" *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignUp(signUpForm)" #signUpForm="ngForm" *ngIf="!isLoading" class="mb-2">
    <mat-form-field class="w-100">
      <input matInput type="email" name="email" placeholder="E-mail" ngModel #email="ngModel" required email>
      <mat-error *ngIf="email.hasError('required')">E-mail is required.</mat-error>
      <mat-error *ngIf="email.hasError('email')">Please enter valid email</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <input matInput type="password" name="password" placeholder="Password" ngModel #password="ngModel" required minlength="6">
      <mat-error *ngIf="password.hasError('required')">Password is required.</mat-error>
      <mat-error *ngIf="password.hasError('minlength')">Password must be of 6 character long</mat-error>
    </mat-form-field>
    <button class="mt-2" mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
  </form>
  <span *ngIf="!isLoading">Existing User?<a routerLink="/signin" class="text-decoration-none">Sign In</a></span>
</mat-card>
