<mat-spinner class="m-auto" *ngIf="isLoading"></mat-spinner>
<mat-accordion class="d-block mt-2" *ngIf="posts.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let post of posts">
        <mat-expansion-panel-header>{{post.title}}</mat-expansion-panel-header>
        <div class="w-100">
          <img class="w-100" [src]="post.imagePath" [alt]="post.title">
        </div>
         <p class="mt-3">{{post.content}}</p>
         <mat-action-row *ngIf="isAuthenticated && userId === post.creator">
           <a mat-button color="primary" [routerLink]="['/post/edit', post.id]" class="text-decoration-none">EDIT</a>
           <button mat-button color="warn" (click)="onDeletePost(post.id!)">DELETE</button>
         </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1 text-center mt-4" *ngIf="posts.length <= 0 && !isLoading">No Post added Yet!</p>
